<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="PaaS" connectionString="Data Source=84.255.65.178; Initial Catalog=IDBMGMT;User ID=xxxxxxx;Password=xxxxxxxx" />
    <add name="Classic" connectionString="Data Source=84.255.124.152; Initial Catalog=IDBMGMT;User ID=xxxxxxxx;Password=sxxxxxxxx" />
    <add name="Local Test" connectionString="Data Source=.; Initial Catalog=IDBMGMT;Integrated Security=true;" />
  </connectionStrings>
</configuration>