<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PaaS" connectionString="Data Source=84.255.65.178; Initial Catalog=IDBMGMT;User ID=kmdcollect_usr;Password=s8haneNe" />
    <add name="Classic" connectionString="Data Source=84.255.124.152; Initial Catalog=IDBMGMT;User ID=kmdcollect_usr;Password=s8haneNe" />
    <add name="Local Test" connectionString="Data Source=.; Initial Catalog=IDBMGMT;Integrated Security=true;" />
  </connectionStrings>
</configuration>